{% extends "base.html.j2" %}

{% block obsah %}

<p>banan je sladký a dobrý</p>

<div class="banaan">
    <img src="{{url_for('static', filename='banaan.html.JPEG')}}" alt="#" width={{700}} height={{450}}/>
</div>
{% endblock obsah %}