{% extends "base.html.j2" %}

{% block obsah %}

<p>dobrou chut preji pane uciteli</p></p>


<div class="kapusta">
    <img src="{{url_for('static', filename='kapustak.html.JPEG')}}" alt="#" width={{700}} height={{450}} />
</div>
{% endblock obsah %}